:root{
    --primary-color:#0177D2;
    --bg-color:#282C34;
}

header{
    background-color: tomato;
}

.header{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .logo{
    padding: 0 1rem;
}

.header .logo a{
    display: block;
    color: #fff;
    font-size: 3rem;
}

.header .logo span{
   display: block;
   font-size: 2rem;
   padding-left: 3.5rem;
   border-bottom: 1px solid #fff;
   transform: translateY(-50%);
}

.header .navbar{
    font-size: 2rem;
    display: flex;
    gap: 2rem;
}

.header .navbar .menu-link{
    color: #fff;
}

/*home section*/

.home{
    margin: 2rem auto;
    height: 100%;
    width: 90vw;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.home .movies-container{
    background-color: tomato;
    height: 45rem;
    width: 30rem;
    margin: 1.5rem;
    display: flex;
    flex-flow: column;
}

.home .movies-container .movie-poster{
    width: 100%;
    height: 34.2rem;
}

.home .movies-container .movie-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .movies-container .card-body{
    background-color: #282C34;
}