:root{
    --primary-color:#0177D2;
    --bg-color:#282C34;
}



header{
    width: 100vw;
    background-color: tomato;
}

.header{
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.header .logo{
    padding: 0 1rem;
}

.header .logo a{
    display: block;
    color: #fff;
    font-size: 3rem;
}

.header .logo span{
   display: block;
   font-size: 2rem;
   padding-left: 3.5rem;
   border-bottom: 1px solid #fff;
   transform: translateY(-50%);
}

.header .navbar{
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
}

.header .navbar .links-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header .navbar .menu-link{
    color: #fff;
}

#menu-burguer{
    display: none;
}

/*home section*/

.home{
    margin: 4rem auto;
    height: 100%;
    width: 90vw;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home .movies-container{
    height: 46rem;
    width: 30rem;
    margin: 5rem 1.5rem;
    display: flex;
    flex-flow: column;
    transition: transform 0.2s;
}

.home .movies-container:hover{
    transform: scale(1.1);
}

.home .movies-container .movie-poster{
    width: 100%;
    height: 34.2rem;
}

.home .movies-container .movie-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.home .movies-container .card-body{
    background-color: #282C34;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.home .movies-container .card-body .card-title{
    height: 7.4rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding:  2rem 1rem;
    text-transform: uppercase;
    
}

.home .movies-container .card-body .card-text{
    transform: translateY(-50%);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.home .movies-container .card-body i{
    font-size: 2.3rem;
    color: #0177D2;
    padding: 0.5rem 1rem;
}

.home .movies-container .card-body .btn-container{
  text-align: center;
}










/*MEDIA QUERIES/RESPONSIVITY SECTION*/

@media screen and (max-width: 590px) {

    #menu-burguer{
        font-size: 3rem;
        display: block;
        color: #fff;
    }

    .header .navbar{
        background-color: tomato;
        position: absolute;
        right: 0; top: -100rem; 
        width: 30rem;
        height: 80vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.5s;
    }

    .header .navbar.active{
        top: 100%;
        opacity: 1;
    }

}

@media screen and (max-width: 1090px) {
    
    

}

